ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }

  html{
    scroll-behavior: smooth;
  }


  #menu{
    display: flex;
    align-items: center;
    position: fixed;
  }

  section{
    min-height: 100vh;
  }

   img {
    max-width:90%;
    max-height:90%;
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

  #home{
    background: rgb(255, 255, 255, 0.877);
  }
  #produtos{
    background: rgb(253, 253, 253);
  }
  #quem_somos{
    background: rgb(239, 245, 239);
  }
  #contato{
    background: rgb(252, 252, 252);
  }
  #localizacao{
    background: rgb(243, 237, 240);
  }